<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <main>
        <section class="form-get">
            <h2><%= about %></h2>
            <form id="getLibro-form">
                <input type="number" name="libroId" id="libroId" required placeholder="ID">
                <input type="submit" value="Consultar producto">
            </form>
        </section>
        <section>
            <div class="contenedor-libros"></div>
        </section>
    </main>

<script src="/js/get.js"></script>
<%- include("partials/footer.ejs") %>