<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

        <h2><%= about %></h2>
        <form id="postLibro-form">
            <input type="text" name="titulo" id="libroTitulo" placeholder="Titulo" required>
            <input type="text" name="imagen" id="libroImagen" placeholder="Imagen" required>
            <select name="genero" id="generoLibro" required>
                <option value="Ciencia Ficcion">Ciencia Ficcion</option>
                <option value="Fantasia">Fantasia</option>
            </select>
            <input type="number" name="precio" id="libroPrecio" placeholder="Precio" required>

            <input type="submit" value="Crear libro">
        </form>
        <section class="seccion-libros">
            <hr>
            <div id="contenedor-libros">

            </div>
        </section>
    </main>

    <script src="/js/post.js"></script>
<%- include("partials/footer.ejs") %>