<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
    <section class="form-libros">
            <h2><%= about %></h2>
            <form id="getLibro-form">
                <label for="libroId">Id del libro</label>
                <input type="number" name="libroId" id="libroID" required>
                <input type="submit" value="Consultar libro">
            </form>
        </section>

    <section class="seccion-libros">
            <hr>
            <div id="contenedor-libros"></div>
            <div id="contenedor-form"></div>
            
    </section>
</main>

<script src="/js/put.js"></script>
<%- include("partials/footer.ejs") %>