<nav>
        <a href="./index.html">INDEX</a>
        <a href="./post.html">POST</a>
        <a href="./get.html">GET</a>
        <a href="./put.html">PUT</a>
        <a href="./delete.html">DELETE</a>
        <a href="./inactivos.html">ACTIVOS</a>
    </nav>