<nav>
        <a href="/dashboard">INDEX</a>
        <a href="/dashboard/consultar">GET</a>
        <a href="/dashboard/crear">POST</a>
        <a href="/dashboard/modificar">PUT</a>
        <a href="/dashboard/eliminar">DELETE</a>
        <a href="/dashboard/inactivos">INACTIVOS</a>
    </nav>