<footer>
    <p><%= alumnos[0] %> | <%= alumnos[1] %></p>
    <div>
        <% if (mostrarBotonLogin) { %>
            <a href="/admin/login">Login admin</a>
        <% } %>
        <% if (mostrarBotonSalir) { %>
            <button>Salir</button>
        <% } %>
    </div>
</footer>
</body>
</html>