<header>
    <div class="header-derecho">
        <h1>
            <%= empresa %>
        </h1>
    </div>
    <% if (mostrarNav) { %>
        <nav>
            <!-- <a href="/">Inicio</a> -->
            <a href="/productos">Productos</a>
            <a href="/carrito">Carrito</a>
        </nav>
        <% } %>
            <div class="header-izquierdo">
                <% if (pagina !== 'ticket' ) { %>
                    <button id="btn-tema">🌗</button>
                    <% } %>
                <% if (pagina === 'productos' ) { %>
                    <input type="text" id="buscador" placeholder="Buscar... 🔎" />
                    <% } %>
            </div>
</header>